default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: glyph_api
  password: password
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: glyph_api_development

test:
  <<: *default
  database: glyph_api_test
